@import '@bobanm/cardinal';

:root {
    --orange: #f2bc0f;
    --green: #4bc190;
    --red: #f85565;
    --gray: #a7aece;
}

body {
    font-size: 1em;
}

main {
    max-width: 66em;
    margin-top: 2em;
    gap: 1.8em;
    grid-template-areas: 
        'status status'
        'history history'
        'request request'
        'error error';
}

#status {
    grid-area: status;
}
#history {
    grid-area: history;
}
#request {
    grid-area: request;
}
#error {
    grid-area: error;
}


table {
    border-spacing: 1.1em 0.5em;
    font-size: 0.875em;
    width: 100%;
    margin-bottom: 1.5em;
    border-top: 1px solid var(--green);
    border-bottom: 1px solid var(--green);
}

th {
    text-align: left;
    font-weight: var(--weight2);
}

th.priority2, td.priority2, th.priority3, td.priority3 {
    display: none;
}

@media (min-width: 44em) {
    body {
        font-size: 1.125rem;
    }
    table {
        font-size: 1rem;
    }
    th.priority2, td.priority2 {
        display: table-cell;
    }
}

@media (min-width: 70em) {
    th.priority3, td.priority3 {
        display: table-cell;
    }
}


img.right {
    width: 5em;
    margin-top: -60px;
}

.top-green {
    border-top-color: var(--green);
}
.top-gray {
    border-top-color: var(--gray);
}

.start {
    margin-top: 1em;
}

.center {
    text-align: center;
}